<div class="row m-5">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
          <div class="form-group">
            <label for="email">Email: </label>
            <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email">
          </div>
          <div class="form-group">
            <label for="password">Password: </label>
            <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password">
          </div>
          <button
          class="btn btn-primary"
          [disabled]="!authForm.valid">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
